/* Added for PBM */
body, table, tr, th, td {
  /* Allegedly allows background-color to be printed in Chrome. Doesn't seem to work for me */
  -webkit-print-color-adjust:exact;
}

.calc-container {
	margin: 40px auto;
}

.modal {
    width: 800px;
    margin-left: -400px;
}
.chart-launch:hover {
    cursor: pointer;
}


.right-attach {
	position: fixed;
	right: 0;
	top: 3em;
	padding: 0.5em;
	-webkit-border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-right: none;
	background-color: #eee;
}


@media (min-width: 1200px) {

}
@media (max-width: 979px) and (min-width: 768px) {
	.calc-container { 
		margin: 10px;
	}
}
@media (max-width: 767px) {

}
@media print {

}